<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/css/base.css" />
  <title><%= title %></title>
</head>

<body>
  <div id="app">
    <% if (!connected) { %>
    <h2>Not Connected</h2>
    <% } else { %>
    <div class="lobby">
      <!-- <h2><%= lobby.members || "Connecting..." %> / <%= lobby.max || "Connecting..." %></h2> -->
      <table>
        <tr>
          <th>Name</th>
          <th>Steam ID</th>
          <th>Ping</th>
          <th>Connected</th>
          <th>Cheater?</th>
          <th>Actions</th>
        </tr>
        <% members.map((member) => { %>
        <tr class="<%= member?.team === "TF_GC_TEAM_INVADERS" ? "blu" : "red" %> <%= member?.steamId === steamId ? "you" : "" %>">
          <td><%= member?.name || "Connecting..." %></td>
          <td><%= member?.steamId %></td>
          <td><%= member?.ping || "0" %>ms</td>
          <td><%= member?.connected || "00:00" %></td>
          <td class="<%= member?.cheater ? "cheater" : "player" %>"><%= member?.cheater ? "Yes" : "No" %></td>
          <td>
            <a href="/add/<%= member?.steamId %>" title="Add the player to the custom list" class="btn">Add</a>
            <a href="/remove/<%= member?.steamId %>" title="Remove the player from the custom list" class="btn">Remove</a>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
    <% } %>
  </div>

  <script src="/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>

</html>